Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Caching
Flask-CORS
Flask-Limiter
Werkzeug
WTForms
pytz
openai==1.51.0
httpx==0.27.0
SQLAlchemy
tenacity
requests
python-dotenv
python-dateutil
beautifulsoup4
selenium
webdriver-manager
qdrant-client>=1.9.0
langdetect
PyPDF2
pdfplumber
waitress
pymssql
openpyxl
